@{
    ViewBag.Title = "Index";
}

<p>本Demo使用RealProxy实现了简单的AOP</p>
<p>此外，自定义了AutowiredAttribute，标记该属性会自动初始化，当然也支持延迟初始化</p>
<p><a href="http://www.cnblogs.com/08shiyan/p/4764074.html" target="_blank">自己实现简单的AOP（一）简介</a></p>
<p><a href="http://www.cnblogs.com/08shiyan/p/4774274.html" target="_blank">自己实现简单的AOP（二）引入Attribute 为方法指定增强对象</a></p>
<p><a href="http://www.cnblogs.com/08shiyan/p/4811050.html" target="_blank">自己实现简单的AOP（三） 实现增强四项基本功能</a></p>
<p><a href="http://www.cnblogs.com/08shiyan/p/4905175.html" target="_blank">自己实现简单的AOP（四）自动初始化代理对象</a></p>
<p><a href="http://www.cnblogs.com/08shiyan/p/4997463.html" target="_blank">自己实现简单的AOP（五）使Demo适应webApi、亦可完成属性自动注入</a></p>

